/* Resets ALL padding and margin elements to 0 */

* {
    margin: 0;
    padding: 0;
}


header {
    background-color: black;
}


.topNavBar {
    background-color: white;
}

.topNavBar_contentContainer {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    margin: auto;
}

#imgContainer {
    width: 270px;
    height: 50px;
    background-color: green;
    margin-right: 10px;
    cursor: pointer;
}

#logoImg {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.searchContainer {
    width: 50%;
    background-color: yellow;
}

input[type=text] {
    box-sizing: border-box; /* TRULY understand what this does */
    padding: 12px 30px;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: 5px;
    font-size: 20px;
    width: 100%;
}

#aboutus {
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: black;
}

a {
    text-decoration: none;
}



.bottomNavBar {
    background-color: yellow;
}

.bottomNavBar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: firebrick;
}

.bottomNavBar li {
    display: inline-block;
}

.bottomNavBar a {
    text-decoration: none;
    color: black;
    margin: 15px;
    display: block;
    font-size: 20px;
    font-family: sans-serif;
}

.bottomNavBar li:hover {
    background-color: coral;
    cursor: pointer;
}



#searchResultsTag {
    text-align: center;
    margin-bottom: auto;
    font-size: 30px;
    font-family: sans-serif;
    background-color: white;/*tan;*/
}



#myFooter {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    background-color: black;
    padding: 10px;
}
