/* Resets ALL padding and margin elements to 0 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBE5E5;
}



#topNavBar {
    background-color: white;
    display: flex;
}

#hamburgerIcon-container, #magnifyingglassIcon-container {
    display: none;
    margin: 10px;
    background-color: white;
}

#hamburgerIcon, #magnifyingglassIcon {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}


#topNavBar-middleContainer {
    background-color: white;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#logoContainer {
    width: 270px;
    margin-right: 10px;
    cursor: pointer;
}

#logoContainer img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

#searchContainer {
    width: 50%;
    background-color: white;
    padding: 5px 0px;
}

#searchContainer #searchBar {
    box-sizing: border-box;
    padding: 12px 30px;
    background-image: url("/images/magnifyingglass_small.png");
    background-repeat: no-repeat;
    background-position: 5px;
    font-family: verdana, arial, sans-serif;
    font-size: 20px;
    width: 100%;
    height: 30%;
    border: 1px solid gray;
}

/* What happens when the user clicks on the search bar */
#searchContainer #searchBar:focus {
    outline: none;
    border-color: black;
}

#about {
    color: black;
    background-color: white;
    font-family: verdana, arial, sans-serif;
    font-size: 25px;

    height: 60px;   /* Using "height" & "line-height" to center the text vertically */
    line-height: 60px;
    text-decoration: none;
    margin: 0px 0px 0px 10px;
}




.bottomNavBar ul {
    list-style: none;
    text-align: center;
    background-color: #33bbff;
}

.bottomNavBar ul li {
    display: inline-block;
    position: relative; /* this allows us to add an "absolute" position to the subitems of this li */
}

.bottomNavBar ul li img {
    float: right;
    height: 18px;
    line-height: 18px;
}

.bottomNavBar ul li a {
    text-decoration: none;
    color: black;
    padding: 6px;
    display: block;

    font-size: 20px;
    font-family: verdana, arial, sans-serif;
}

.bottomNavBar ul li:hover {
    background-color: #b3e6ff;
    cursor: pointer;
}


.bottomNavBar-submenu {
    display: none;
}

/* for showing the 1st & 2nd submenus when you hover over its "parent" li */
.bottomNavBar ul li:hover #bottomNavBar-mealTypes-submenu, .bottomNavBar ul li:hover #bottomNavBar-cuisine-submenu {
    display: block;
    position: absolute;
}

.bottomNavBar ul li:hover #bottomNavBar-mealTypes-submenu ul li,
.bottomNavBar ul li:hover #bottomNavBar-cuisine-submenu ul li,
.bottomNavBar ul li:hover .submenu_3 ul li,
.bottomNavBar ul li:hover .submenu_4 ul li,
.bottomNavBar ul li:hover .submenu_5 ul li {
    width: 192px;
}

.bottomNavBar ul li #bottomNavBar-cuisine-submenu ul li:hover .submenu_3,
.bottomNavBar ul li #bottomNavBar-cuisine-submenu ul li:hover .submenu_4,
.bottomNavBar ul li #bottomNavBar-cuisine-submenu ul li:hover .submenu_5 {
     display: block;
     position: absolute;
     margin-top: -36px;
     margin-left: 192px;
}




#hamburgerMenu {
    position: fixed;
    height: 100%;
    width: 70%;
    display: none;
    background-color: #292929;
    overflow-y: scroll; /* Adds the ability to scroll (vertically) */
}

 /* Hide scrollbar for Chrome, Safari and Opera */
#hamburgerMenu::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#hamburgerMenu {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#hamburgerMenu-contents ul {
    list-style: none;
}


.hamburgerMenu-subcategory1 {
    display: block;
    width: 90%;
    margin: auto;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid gray;
    background-color: #292929;

    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: verdana, arial, sans-serif;
}

/* .hamburgerMenu-subcategory1:hover {
    background-color: #4F4E4E;
} */


.down-arrow {
    float: right;
    background-color: #292929;
    line-height: 26px;
    height: 26px;
}



#mealTypes-submenu, #cuisines-submenu {
    width: 90%;
    margin: auto;
    background-color: #292929;
    display: none;
}

#mealTypes-submenu ul li, #cuisines-submenu ul li {
    padding: 12px 0px 12px 20px;
    background-color: #292929;
    border-bottom: 1px solid gray;

}

.hamburgerMenu-subcategory2 {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: verdana, arial, sans-serif;
}


#americanFoods-submenu, #europeanFoods-submenu {
    display: none;
}

#americanFoods-submenu ul li, #europeanFoods-submenu ul li {
    padding: 8px 0px 8px 50px;
}

.hamburgerMenu-subcategory3 {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: verdana, arial, sans-serif;
}




#magnifyingglassMenu {
    position: fixed;
    width: 100%;
    display: none;
    background-color: #292929;
}

#magnifyingglassMenu-contents {
    flex: 1;
    display: flex;
}

#searchBar-container {
    flex: 1;
    padding: 10px;
}

#searchButton-container {
    padding: 10px;
}

#searchBar2 {
    width: 100%;
    box-sizing: border-box; /* TRULY understand what this does */
    padding: 12px;
    font-size: 20px;
    /* border-radius: 5px; */
    border: 1px solid gray;
}

#searchBar2:focus {
    outline:none;
    border-color: black;
}

button {
    height: 100%;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}




.bigSpaceBlock {
    height: 50px;
}

.smallSpaceBlock {
    height: 20px;
}




#quickFactsContainer {
    /* width: 1000px; */
    /* background-color: gray; */
}

#currentFood-imgContainer {
    flex: 1;
}

#currentFood-img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}


#factsContainer {
    flex: 1;
    /* background-color: gray; */
}

.foodFact {
    padding: 5px;
    /* background-color: gray; */
}





#ingredients-and-instructionsSection {
    /* background-color: tomato; */
}

#ingredientsSection {
    /* border: 1px solid black; */
    /* margin: 10px; */

    /*
    background-color: white;

    width: 500px;
    margin: auto; */
    /* flex: 1; */
    /* background-color: green; */
}


#instructionsSection {
    /* border: 1px solid black; */
    /* margin: 10px; */

    /*
    background-color: white;

    width: 1000px;
    margin: auto; */
    /* flex: 1; */
    /* background-color: yellow; */
}


#nutritionSection {
    /* border: 1px solid black; */
    /* background-color: white; */
}


#similarRecipesHeader {
    text-align: center;
    font-family: verdana, arial, sans-serif;
    /* background-color: yellow; */
}

#similarRecipesSection {
    margin: auto;
}






#recipes {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 100%;
    /*
    resize:both;
    overflow: auto;
    */
}

.gridBox {
    margin-top: 25px;
    margin-bottom: 25px;
    /* background-color: yellow; */
    cursor: pointer;
    /*overflow: auto; maybe add this to ".foodName" */
}

.gridBox:hover {
    box-shadow: 5px 10px 10px;
}

.foodImgContainer {
    height: 225px;
    width: 300px;
    /* background-color: white; */
}

.foodImg {
    /*content:url("images/img1.jpg");*/
    /*
    width: 300px;
    height: 250px;
    */
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.foodNameContainer {
    /* height: 75px; */
    width: 300px;
    /* background-color: white; */
}

.foodName {
    max-width: 100%;
    height: 100%;

    font-size: 18px;
    font-family: verdana;
    /* background-color: white; */
    text-align: center;

    word-wrap: break-word;
    /* padding: 5px 10px 0px 10px; */
}








#horizontalLine {
    width: 1229px;
    border-color: black;
    margin: auto;
}

#creditsSection {
    border: 1px solid black;
    /* background-color: white; */

    padding: 10px;
    width: 700px;
    margin: auto;
}


#myFooter {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: verdana, arial, sans-serif;
    background-color: black;
    padding: 10px;
}

#recipeTitle {
    /* background-color: orange; */
}












@media (max-width: 499px) {
    #hamburgerIcon-container, #magnifyingglassIcon-container {
        display: inline-block;
    }

    #searchContainer {
        display: none;
    }

    #about {
        display: none;
    }

    #topNavBar {
        top: 0;
        position: sticky;
        width: 100%;
    }

    .bottomNavBar {
        display: none;
    }



    #recipeTitle {
        width: 100%;
        margin: auto;

        font-size: 35px;
        /* background-color: green; */
        font-family: verdana, arial, sans-serif;
    }



    #quickFactsContainer {
        margin: auto;
        width: 100%;
    }

    #currentFood-imgContainer {
        /* background-color: green; */
    }

    #factsContainer {
        /* background-color: white; */
        font-size: 10px;
        font-family: verdana, arial, sans-serif;
    }


    #ingredients-and-instructionsSection {
        width: 100%;
        margin: auto;
    }

    #ingredients-and-instructionsSection ul {
        list-style: none;
    }

    #ingredientsSection {
        margin-bottom: 25px;
        font-size: 25px;
        font-family: verdana, arial, sans-serif;
    }

    #instructionsSection {
        font-size: 25px;
        font-family: verdana, arial, sans-serif;
    }



    #nutritionSection {
        width: 100%;
        margin: auto;
        font-size: 20px;
        font-family: verdana, arial, sans-serif;
    }

    #similarRecipesSection {
        width: 100%;
    }



    #similarRecipesHeader {
        font-size: 50px;
    }

    .foodImgContainer {
        width: 100%;
    }

    .foodNameContainer {
        width: 100%;
    }

    .foodName {
        font-size: 30px;
        font-family: verdana, arial, sans-serif;
    }


    #myFooter {
        font-size: 30px;
        font-family: verdana, arial, sans-serif;
    }
}


@media (min-width: 500px) and (max-width: 799px) {
    #hamburgerIcon-container, #magnifyingglassIcon-container {
        display: inline-block;
    }

    #searchContainer {
        display: none;
    }

    #about {
        display: none;
    }

    #topNavBar {
        top: 0;
        position: sticky;
    }

    .bottomNavBar {
        display: none;
    }



    #recipeTitle {
        width: 500px;
        margin: auto;

        font-size: 60px;
        /* background-color: green; */
        font-family: verdana, arial, sans-serif;
    }



    #quickFactsContainer {
        margin: auto;
        width: 500px;
    }

    #currentFood-imgContainer {
        /* width: 100%; */
        /* background-color: green; */
    }

    #factsContainer {
        /* width: 100%; */
        /* background-color: white; */
        /* font-size: 25px; */
        font-family: verdana, arial, sans-serif;
    }


    #ingredients-and-instructionsSection {
        width: 500px;
        margin: auto;
    }

    #ingredients-and-instructionsSection ul {
        list-style: none;
    }

    #ingredientsSection {
        margin-bottom: 25px;
        font-size: 35px;
        font-family: verdana, arial, sans-serif;
    }

    #instructionsSection {
        font-size: 35px;
        font-family: verdana, arial, sans-serif;
    }



    #nutritionSection {
        width: 500px;
        margin: auto;
        font-size: 25px;
        font-family: verdana, arial, sans-serif;
    }

    #similarRecipesSection {
        width: 500px;
        /* background-color: orange; */
    }





    #similarRecipesHeader {
        font-size: 50px;
    }

    .foodImgContainer {
        height: 375px;
        width: 500px;
    }

    .foodNameContainer {
        width: 500px;
    }

    .foodName {
        font-size: 35px;
        font-family: verdana, arial, sans-serif;
    }


    #myFooter {
        font-size: 30px;
        font-family: verdana, arial, sans-serif;
    }
}


@media (min-width: 800px) and (max-width: 1099px) {
    #hamburgerIcon-container, #magnifyingglassIcon-container {
        display: inline-block;
    }

    #searchContainer {
        display: none;
    }

    #about {
        display: none;
    }

    #topNavBar {
        top: 0;
        position: sticky;
    }

    .bottomNavBar {
        display: none;
    }



    #recipeTitle {
        /* background-color: yellow; */
        font-size: 60px;
        font-family: verdana, arial, sans-serif;
    }

    #quickFactsContainer {
        margin: auto;
        width: 800px;
    }

    #currentFood-imgContainer {
        width: 100%;
        /* background-color: green; */
    }

    #factsContainer {
        /* background-color: white; */
        font-size: 25px;
        font-family: verdana, arial, sans-serif;
    }


    #ingredients-and-instructionsSection {
        width: 800px;
        margin: auto;
    }

    #ingredients-and-instructionsSection ul {
        list-style: none;
        font-size: 20px;
        font-family: verdana, arial, sans-serif;
    }

    #ingredientsSection {
        margin-bottom: 25px;
        font-size: 35px;
        font-family: verdana, arial, sans-serif;
    }

    #instructionsSection {
        font-size: 35px;
        font-family: verdana, arial, sans-serif;
    }



    #nutritionSection {
        width: 800px;
        margin: auto;
        font-size: 25px;
        font-family: verdana, arial, sans-serif;
    }

    #similarRecipesSection {
        width: 800px;
    }




    #similarRecipesHeader {
        font-size: 50px;
    }

    .foodImgContainer {
        height: 450px;
        width: 600px;
    }

    .foodNameContainer {
        width: 600px;
    }

    .foodName {
        font-size: 35px;
        font-family: verdana, arial, sans-serif;
    }


    #myFooter {
        font-size: 30px;
        font-family: verdana, arial, sans-serif;
    }
}


@media (min-width: 1100px)  and (max-width: 1499px) {
    #hamburgerMenu-contents, #magnifyingglassMenu-contents {
        display: none;
    }

    #hamburgerMenu {
        visibility: hidden;
    }


    #quickFactsContainer {
        display: flex;
        margin: auto;
        width: 1100px;
    }

    #currentFood-imgContainer {
        height: 500px;
        width: 500px;
        /* background-color: green; */
        margin: 10px;
    }

    #factsContainer {
        /* background-color: white; */
        margin: 10px;
        font-size: 20px;
        font-family: verdana, arial, sans-serif;
    }


    #ingredients-and-instructionsSection {
        width: 1100px;
        margin: auto;
    }

    #ingredients-and-instructionsSection ul {
        list-style: none;
        display: flex;
        font-size: 20px;
        font-family: verdana, arial, sans-serif;
    }

    /* left == ingredients section, and right == instructions section */
    #left {
        flex: 1;
    }
    #right {
        flex: 2;
    }


    #nutritionSection {
        width: 1100px;
        margin: auto;
        font-size: 20px;
        font-family: verdana, arial, sans-serif;
    }

    #similarRecipesSection {
        width: 1100px;
    }
}


@media (min-width: 1500px) {
    #hamburgerMenu-contents, #magnifyingglassMenu-contents {
        display: none;
    }

    #hamburgerMenu {
        visibility: hidden;
    }


    #quickFactsContainer {
        display: flex;
        margin: auto;
        width: 1300px;
    }

    #currentFood-imgContainer {
        height: 600px;
        width: 600px;
        /* background-color: green; */
        margin: 10px;
    }

    #factsContainer {
        /* background-color: white; */
        margin: 10px;
        font-size: 20px;
        font-family: verdana, arial, sans-serif;
    }


    #ingredients-and-instructionsSection {
        width: 1300px;
        margin: auto;
    }

    #ingredients-and-instructionsSection ul {
        list-style: none;
        display: flex;
        font-size: 20px;
        font-family: verdana, arial, sans-serif;
    }

    /* left == ingredients section, and right == instructions section */
    #left {
        flex: 1;
    }
    #right {
        flex: 2;
    }


    #nutritionSection {
        width: 1300px;
        margin: auto;
        font-size: 20px;
        font-family: verdana, arial, sans-serif;
    }

    #similarRecipesSection {
        width: 1300px;
    }
}
