/* Resets ALL padding and margin elements to 0 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBE5E5;
}



#topNavBar {
    background-color: white;
    display: flex;
}

#hamburgerIcon-container, #magnifyingglassIcon-container {
    display: none;
    margin: 10px;
    background-color: white;
}

#hamburgerIcon, #magnifyingglassIcon {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}


#topNavBar-middleContainer {
    background-color: white;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#logoContainer {
    width: 270px;
    margin-right: 10px;
    cursor: pointer;
}

#logoContainer img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

#searchContainer {
    width: 50%;
    background-color: white;
    padding: 5px 0px;
}

#searchContainer #searchBar {
    box-sizing: border-box;
    padding: 12px 30px;
    background-image: url("/images/magnifyingglass_small.png");
    background-repeat: no-repeat;
    background-position: 5px;
    font-family: verdana, arial, sans-serif;
    font-size: 20px;
    width: 100%;
    height: 30%;
    border: 1px solid gray;
}

/* What happens when the user clicks on the search bar */
#searchContainer #searchBar:focus {
    outline: none;
    border-color: black;
}

#about {
    color: black;
    background-color: white;
    font-family: verdana, arial, sans-serif;
    font-size: 25px;

    height: 60px;   /* Using "height" & "line-height" to center the text vertically */
    line-height: 60px;
    text-decoration: none;
    margin: 0px 0px 0px 10px;
}




.bottomNavBar ul {
    list-style: none;
    text-align: center;
    background-color: #33bbff;
}

.bottomNavBar ul li {
    display: inline-block;
    position: relative; /* this allows us to add an "absolute" position to the subitems of this li */
}

.bottomNavBar ul li img {
    float: right;
    height: 18px;
    line-height: 18px;
}

.bottomNavBar ul li a {
    text-decoration: none;
    color: black;
    padding: 6px;
    display: block;

    font-size: 20px;
    font-family: verdana, arial, sans-serif;
}

.bottomNavBar ul li:hover {
    background-color: #b3e6ff;
    cursor: pointer;
}


.bottomNavBar-submenu {
    display: none;
}

/* for showing the 1st & 2nd submenus when you hover over its "parent" li */
.bottomNavBar ul li:hover #bottomNavBar-mealTypes-submenu, .bottomNavBar ul li:hover #bottomNavBar-cuisine-submenu {
    display: block;
    position: absolute;
}

.bottomNavBar ul li:hover #bottomNavBar-mealTypes-submenu ul li,
.bottomNavBar ul li:hover #bottomNavBar-cuisine-submenu ul li,
.bottomNavBar ul li:hover .submenu_3 ul li,
.bottomNavBar ul li:hover .submenu_4 ul li,
.bottomNavBar ul li:hover .submenu_5 ul li {
    width: 192px;
}

.bottomNavBar ul li #bottomNavBar-cuisine-submenu ul li:hover .submenu_3,
.bottomNavBar ul li #bottomNavBar-cuisine-submenu ul li:hover .submenu_4,
.bottomNavBar ul li #bottomNavBar-cuisine-submenu ul li:hover .submenu_5 {
     display: block;
     position: absolute;
     margin-top: -36px;
     margin-left: 192px;
}




#hamburgerMenu {
    position: fixed;
    height: 100%;
    width: 70%;
    display: none;
    background-color: #292929;
    overflow-y: scroll; /* Adds the ability to scroll (vertically) */
}

 /* Hide scrollbar for Chrome, Safari and Opera */
#hamburgerMenu::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#hamburgerMenu {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#hamburgerMenu-contents ul {
    list-style: none;
}


.hamburgerMenu-subcategory1 {
    display: block;
    width: 90%;
    margin: auto;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid gray;
    background-color: #292929;

    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: verdana, arial, sans-serif;
}

/* .hamburgerMenu-subcategory1:hover {
    background-color: #4F4E4E;
} */


.down-arrow {
    float: right;
    background-color: #292929;
    line-height: 26px;
    height: 26px;
}



#mealTypes-submenu, #cuisines-submenu {
    width: 90%;
    margin: auto;
    background-color: #292929;
    display: none;
}

#mealTypes-submenu ul li, #cuisines-submenu ul li {
    padding: 12px 0px 12px 20px;
    background-color: #292929;
    border-bottom: 1px solid gray;

}

.hamburgerMenu-subcategory2 {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: verdana, arial, sans-serif;
}


#americanFoods-submenu, #europeanFoods-submenu {
    display: none;
}

#americanFoods-submenu ul li, #europeanFoods-submenu ul li {
    padding: 8px 0px 8px 50px;
}

.hamburgerMenu-subcategory3 {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: verdana, arial, sans-serif;
}




#magnifyingglassMenu {
    position: fixed;
    width: 100%;
    display: none;
    background-color: #292929;
}

#magnifyingglassMenu-contents {
    flex: 1;
    display: flex;
}

#searchBar-container {
    flex: 1;
    padding: 10px;
}

#searchButton-container {
    padding: 10px;
}

#searchBar2 {
    width: 100%;
    box-sizing: border-box; /* TRULY understand what this does */
    padding: 12px;
    font-size: 20px;
    /* border-radius: 5px; */
    border: 1px solid gray;
}

#searchBar2:focus {
    outline:none;
    border-color: black;
}

button {
    height: 100%;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}




.bigSpaceBlock {
    height: 50px;
}



#searchResultsTag {
    text-align: center;
    margin-bottom: auto;
    font-size: 30px;
    font-family: verdana, arial, sans-serif;
    /* background-color: white; */
}

#myGridContainer {
    /* background-color: green; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 1000px; /* I might need to use media queries to set this field, in case the user's device is smaller than anticipated */
    margin: auto;

    /*
    resize:both;
    overflow: auto;
    */
}

.gridBox {
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    border: 1px solid black;

    /* flex: 1; */

    margin: 10px;
}

.gridBox:hover {
    box-shadow: 5px 10px 10px;
}

.foodImgContainer {
    height: 225px;
    width: 300px;
}

.foodImg {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.foodNameContainer {
    width: 300px;
    /* background-color: white; */
}

.foodName {
    max-width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: verdana, arial, sans-serif;
    /* background-color: white; */
    text-align: center;
    word-wrap: break-word;
}


#myFooter {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: verdana, arial, sans-serif;
    background-color: black;
    padding: 10px;
}



.outerPaginationBlock {
    /* background-color: yellow; */
    width: 100%;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
}


#innerPaginationBlock {
    /* background-color: tomato; */
    padding: 10px;
    /* border: 1px solid black;
    border-radius: 3px; */
}


/* #innerPaginationBlock a {
    cursor: pointer;
    float: left;
    padding: 4px 16px;
} */


#buttonsPaginationBlock {
    display: none;
}











@media (max-width: 499px) {
    #hamburgerIcon-container, #magnifyingglassIcon-container {
        display: inline-block;
        margin: 10px;
        width: 10%;
        height: 10%;
    }

    #searchContainer {
        display: none;
    }

    #about {
        display: none;
    }

    #logoContainer {
        width: 80%;
    }

    #topNavBar {
        top: 0;
        position: sticky;
        width: 100%;
    }

    .bottomNavBar {
        display: none;
    }


    #searchBar2 {
        padding: 5px;
    }

    button {
        padding: 5px;
        font-size: 15px;
    }

    #searchBar2::placeholder {
        font-size: 15px;
    }

    #hamburgerMenu-subcategory1-item1, #hamburgerMenu-subcategory1-item2 {
        font-size: 18px;
    }

    .hamburgerMenu-subcategory2 {
        font-size: 14px;
    }

    .hamburgerMenu-subcategory3 {
        font-size: 11px;
    }

    #americanFoods-down-arrow, #europeanFoods-down-arrow {
        height: 5%;
    }

     #myGridContainer {
        width: 80%;
    }

    #innerPaginationBlock {
        padding: 0px;
    }


    .foodImgContainer, .foodNameContainer {
        width: 100%;
    }

    .gridBox {
        width: 100%;
    }



    .outerPaginationBlock {
        width: 80%;
        margin: auto;
        /* background-color: chocolate; */
    }

    #innerPaginationBlock {
        display: none;
    }

    #buttonsPaginationBlock {
        display: flex;
    }

    #prevPageBtn, #nextPageBtn {
        flex: 1;
    }
}



@media (min-width: 500px) and (max-width: 799px) {
    #hamburgerIcon-container, #magnifyingglassIcon-container {
        display: inline-block;
        margin: 10px;
        width: 10%;
        height: 10%;
    }

    #searchContainer {
        display: none;
    }

    #about {
        display: none;
    }

    #logoContainer {
        width: 80%;
    }

    #topNavBar {
        top: 0;
        position: sticky;
        width: 100%;
    }

    .bottomNavBar {
        display: none;
    }


    #searchBar2 {
        padding: 5px;
    }

    button {
        padding: 5px;
        font-size: 15px;
    }

    #searchBar2::placeholder {
        font-size: 15px;
    }

    #hamburgerMenu-subcategory1-item1, #hamburgerMenu-subcategory1-item2 {
        font-size: 18px;
    }

    .hamburgerMenu-subcategory2 {
        font-size: 14px;
    }

    .hamburgerMenu-subcategory3 {
        font-size: 11px;
    }

    #americanFoods-down-arrow, #europeanFoods-down-arrow {
        height: 5%;
    }

    #myGridContainer {
        width: 400px;
    }



    .outerPaginationBlock {
        width: 400px;
        margin: auto;
    }

    #innerPaginationBlock {
        display: none;
    }

    #buttonsPaginationBlock {
        display: flex;
    }

    #prevPageBtn, #nextPageBtn {
        flex: 1;
    }
}



@media (min-width: 800px) and (max-width: 1099px) {
    #hamburgerIcon-container, #magnifyingglassIcon-container {
        display: inline-block;
    }

    #searchContainer {
        display: none;
    }

    #about {
        display: none;
    }

    #topNavBar {
        top: 0;
        position: sticky;
    }

    .bottomNavBar {
        display: none;
    }


    #myGridContainer {
        width: 700px;
    }



    .outerPaginationBlock {
        width: 700px;
        margin: auto;
    }

    #innerPaginationBlock {
        display: flex;
        justify-content: center;
    }

    #buttonsPaginationBlock {
        display: none;
    }
}



@media (min-width: 1100px)  and (max-width: 1499px) {
    #hamburgerMenu-contents, #magnifyingglassMenu-contents {
        display: none;
    }

    #hamburgerMenu {
        visibility: hidden;
    }


    #myGridContainer {
        width: 1000px;
    }



    .outerPaginationBlock {
        width: 1000px;
        margin: auto;
    }

    #innerPaginationBlock {
        display: flex;
        justify-content: center;
    }

    #buttonsPaginationBlock {
        display: none;
    }
}


@media (min-width: 1500px) {
    #hamburgerMenu-contents, #magnifyingglassMenu-contents {
        display: none;
    }

    #hamburgerMenu {
        visibility: hidden;
    }


    #myGridContainer {
        width: 1400px;
    }


    .outerPaginationBlock {
        width: 1400px;
        margin: auto;
    }

    #innerPaginationBlock {
        display: flex;
        justify-content: center;
    }

    #buttonsPaginationBlock {
        display: none;
    }
}
