.recipe-card {
    width: 250px;
    border: 1px solid black;
    margin: 30px 0;
}

.recipe-card:hover {
    cursor: pointer;
    box-shadow: 1px 5px 7px 5px #888888;
}

.recipe-card-img-container {
    height: 250px;
}

.recipe-card-img-container img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.recipe-card-title-container {
    text-align: center;
    font-size: 20px;
    font-family: verdana, arial, sans-serif;
}



@media (max-width: 350px) {
    .recipe-card {
        width: 180px;
    }

    .recipe-card-img-container {
        height: 180px;
    }

    .recipe-card-title-container {
        font-size: 16px;
    }
}
